@font-face {
    font-family: 'Oraqle Script';
    src: url('../font/OraqleScript.woff2') format('woff2'),
        url('../font/OraqleScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '212 Dreamery Sans Demo';
    src: url('../font/212DreamerySansDemo.woff2') format('woff2'),
        url('../font/212DreamerySansDemo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Boldey Typeface';
    src: url('../font/BoldeyTypeface-Regular.woff2') format('woff2'),
        url('../font/BoldeyTypeface-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

a{
    text-decoration: none;
}
body, html{
    
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100% ;
    width: 100%;
}
.wrap{
    position: relative;
	width: 100%;
	height: 100%;
	perspective: 1200px;
    transform-style: preserve-3d;
}
h2{
    font-family: '212 Dreamery Sans Demo';
    font-weight: normal; font-style: normal;
    line-height: 50px;
    position: relative;
}
 h3{
    font-family: '212 Dreamery Sans Demo';
    font-weight: normal; font-style: normal;
    line-height: 10px;
    position: relative;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    padding-bottom: 30px;
}

.logo{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 12%;
    z-index: 9999;
}
a, input[type="submit"]{
    padding: 0 50px;
    background: rgb(199, 25, 25);
    font-family: 'Oraqle Script';
    text-align: center;
    margin: 0 auto;
    text-align: center;
    width: auto;
    font-size: 70px;
    line-height: 80px;
    color: #fff;
    border: none;
}

section{
    position: absolute;
    background: #11222d url('../img/intro-bg.png') no-repeat  0;
    background-size: auto;
	width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
	overflow: hidden;
	backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    
    
	
}
.section-current{
    visibility: visible;
    animation: scaleUp .7s ease both;
    
}
.section-down{
    visibility: visible;
    animation: scaleDown .7s ease both;
    
}
.hide{
    display: none;
}


/* scale and fade */

@keyframes scaleDown {
	to { opacity: 0; transform: scale(.8); }
}

@keyframes scaleUp {
	from { opacity: 0; transform: scale(.8); }
}

@keyframes scaleUpDown {
	from { opacity: 0; transform: scale(1.2); }
}

@keyframes scaleDownUp {
	to { opacity: 0; transform: scale(1.2); }
}

@keyframes scaleDownCenter {
	to { opacity: 0; transform: scale(.7); }
}

@keyframes scaleUpCenter {
	from { opacity: 0; transform: scale(.7); }
}

/* ---------------------------------- INTRO --------------------------------- */

.text-intro{
    .container{
        text-align: center;
        width: 50%;
        margin: 200px auto 0;
        color: #fff;
    }

    h2{
        
        font-size: 100px;
        line-height: 100px;
    }
    p{
        font-size: 40px;
        font-weight: 300;
    }
    .intro-tree{
        position: absolute;
        left: 10%;
        bottom: 0;
        max-width: 30%;
    }
}

/* ----------------------------- CUSTOMIZE TREE ----------------------------- */

.customize-tree{
   .container{
    width: 80%;
    margin: 0 auto;
    position: relative;
   }
    h2{
        font-size: 60px;
        text-align: center;
    }
    p{
        text-align: center;
        width: 60%;
        margin: 0 auto 30px;
        
    }
    .customize-tree-col{
        display: flex;
        justify-content: center;
        text-align: center;
        h3{
            font-size: 30px;
        }
        .item:nth-child(1){
            
            flex-grow: 2;
        }
        .item:nth-child(2){
            position: relative;
            flex-grow: 4;
            
            
        }
        .item:nth-child(3){
            
            flex-grow: 2;
        }
        .tree-base{
            margin: 0 auto 60px;
        }
    }
    
    .tree-option{
        width: 100px;
        height: 100px;
        border: 6px solid rgb(26, 26, 26);
        border-radius: 8px;
        background: #000;
        
        margin: 0 auto 30px;
        transition: all 1s;
        cursor: pointer;
        
        
        &:nth-child(2){
            transform: rotate(-10deg);
            background: url('../img/tree-option-1.png');
            background-size: cover;
            

        }
        &:nth-child(3){
            transform: rotate(10deg);
            background: url('../img/tree-option-2.png');
            background-size: cover;
            
            

        }
        &:nth-child(4){
            transform: rotate(-10deg);
            background: url('../img/tree-option-3.png');
            background-size: cover;
            

        }

    }
    .gift-option{
        width: 100px;
        height: 100px;
        border: 6px solid rgb(26, 26, 26);
        border-radius: 8px;
        background: #000;
        
        margin: 0 auto 30px;
        transition: all 1s;
        cursor: pointer;
        
        
        &:nth-child(2){
            transform: rotate(-10deg);
            background: url('../img/gift-option-1.png');
            background-size: cover;
            

        }
        &:nth-child(3){
            transform: rotate(10deg);
            background: url('../img/gift-option-2.png');
            background-size: cover;
            
            

        }
        &:nth-child(4){
            transform: rotate(-10deg);
            background: url('../img/gift-option-3.png');
            background-size: cover;
            

        }

    }


    
    .hover:hover{
        transform: scale(1.2);
        transition: all 0.2s ease-in-out;
        border-color: rgb(216, 167, 61);
    }
}

.gift{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    img{
        margin: 0 auto;
    }
}

/* --------------------------------- MESSAGE -------------------------------- */

.message-col{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    h3{
        font-size: 30px;
    }

   
    .item:nth-child(1){
        
        width: 500%;
        position: relative;
    }
    .item:nth-child(2){
        
        width: 500%;
        
        
    }
   form{
       width: 100%;
       label{
        font-size: 26px;
        text-align: left;
        display: flex;
        margin-bottom: 10px;
        font-family: '212 Dreamery Sans Demo';
    }
       input[type="text"]{
           width: 45%;
           border: none;
           border-radius: 5px;
           padding: 10px 2%;
           font-family: 'Open Sans', sans-serif;
           line-height: 22px;
           font-size: 22px;
           margin-bottom: 20px;
       }
        textarea {
           width: 96%;
           border: none;
           border-radius: 5px;
           padding: 2%;
           font-family: 'Open Sans', sans-serif;
           line-height: 22px;
           font-size: 22px;
           height: 200px;
           resize: none;
           margin-bottom: 20px;
       }
       .enviar{
           width: 100% !important;
       } 
   }
}

.preview{
    .message-col{
        margin-top: 200px;
    }
}

/* ------------------------------ THANKYOU PAGE ----------------------------- */

.tpage{
    .container{
        text-align: center;
    width: 50%;
    margin: 10% auto; 
    }
    h2{
        font-size: 60px;
    }
    p{
        font-size: 30px;
    }
}